// header {
//   @include flex(space-between);
//   padding: $base-padding $base-padding * 5;
//   width: 100%;
//   top: 2%;
//   position: absolute;
//   z-index: 3434676;
//   transition: 0.7;
//   .menu {
//     transition: color 0.2s ease-in-out;
//     padding: 0 $base-padding;
//     text-decoration: none;
//     color: #fff;
//   }
// }

// .banner {
//   height: 100vh;
//   background-image: url('file:///C:/Users/HP/Desktop/urban-20231222T090331Z-001/urban-20231222T090331Z-001/urban/images/banner.jpg');
//   // background-image: url(../assets/images/bg.jpg);
//   background-position: center;
//   background-size: cover;
//   position: relative;
//   // @include flex(center);
//   // padding: $base-padding * 5;
//   // background-position: center;
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   // border-top: 0;
//   // min-height: 100vh;
//   // height: 100vh;
//   // position: relative;
//   // text-align: center;
//   // overflow: hidden;
//   .inner {
//     h1 {
//       font-size: $font-size-lg;
//       margin-bottom: $base-margin;
//       color: #fff;
//     }
//     p {
//       color: rgba(255, 255, 255, 0.85);
//       font-size: $font-size-md;
//     }
//     button {
//       background-color: #3498db;
//       color: #fff;
//       padding: 0 $base-padding;
//       font-size: $font-size-md;
//       font-weight: 600;
//     }
//   }
// }

// .banner&::after {
//   content: '';
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   position: absolute;
//   z-index: 3;
//   top: 0;
// }

#section_header {
  height: 100vh;
  background-image: url('file:///C:/Users/HP/Desktop/urban-20231222T090331Z-001/urban-20231222T090331Z-001/urban/images/banner.jpg');
  position: relative;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    top: 0;
  }

  header {
    height: 100px;
    @include flex;
    padding: $base-padding * 5;
    h1 {
      font-size: $font-size-sm;
      font-weight: 500;
      color: $white;
      span {
        color: $blue;
        font-size: $font-size-sm;
      }
    }
    .icons {
      @include flex;
      gap: 10px;
      i {
        font-weight: 600;
        font-size: $font-size-sm;
        color: $white;
      }
    }
  }
  .section1 {
    @include flex(center, column);
    gap: 40px;
    height: calc(100vh - 100px);
    h1 {
      font-size: $font-size-xl;
      color: $white;
      text-align: center;
    }
    p {
      font-size: $font-size-md;
      color: $white;
      text-align: center;
    }
    button {
      @include button($white, $blue);
    }
  }
}
